:root {
    --primary-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: var(--primary-font);
    margin: 0;
}

body {
    background-color: #F9FAFB;
    padding: 10px;
}

#title {
    font-size: 30px;
    text-align: center;
    color: black;
    margin: 15px;
}

#subtitle {
    font-size: 24px;
    text-align: center;
    font-weight: 100;
    padding-right: 10px;
}

#tractSelectorSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.grid {
    display: grid;
    grid-gap: 1em;
}

.three-charts-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    // grid-template-rows: 400px;
    grid-gap: 1em;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1em;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 20px 10px;
}

.rounded {
    border: 1px solid grey;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05);
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
}

.white {
    background-color: white;
}

.number {
    font-size: 36px;
}

.card-text {
    font-size: 18px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.card-text-subtext {
    font-weight: lighter;
}

.highcharts-tooltip span {
    min-width: 220px !important;
    overflow: auto;
    white-space: normal !important;
}

.credits {
    position: absolute;
    right: 0;
    background-color: #103CDF;
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
}

/* overwrite some material design css for the table */
.mdc-data-table__cell {
    font-family: var(--primary-font);
}

.mdc-data-table {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
}

.highlighted-row {
    background-color: #6200EE !important;
}

.highlighted-row .mdc-data-table__cell {
    color: white !important;
    font-weight: 600;
    /* font-style: italic; */
}


@media only screen and (max-width: 600px) {
    .card {
        flex-direction: row;
    }

    .three-charts-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }

    .cards-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }
}

@media only screen and (max-width: 900px) {
    .card {
        flex-direction: column;
    }
}