* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

body {
    background-color: #F9FAFB;
}

#title {
    font-size: 30px;
    text-align: center;
    color: black;
    margin: 15px;
}

#subtitle {
    font-size: 24px;
    text-align: center;
    font-weight: 100;
    padding-right: 10px;
}

#tractSelectorSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.grid {
    display: grid;
    grid-gap: 1em;
}

.three-charts-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    // grid-template-rows: 400px;
    grid-gap: 1em;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1em;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 20px 10px;
}

.rounded {
    border: 1px solid grey;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05);
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
}

.white {
    background-color: white;
}

.number {
    font-size: 36px;
}

.card-text {
    font-size: 18px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.card-text-subtext {
    font-weight: lighter;
}

.highcharts-tooltip span {
    min-width: 220px !important;
    overflow: auto;
    white-space: normal !important;
}

/* 
#container4 {
    grid-row: 2;
    grid-column: 1 / 4;
} */

/* @media screen and (max-width: 600px) {

    #container1,
    #container2,
    #container3,
    #container4 {
        width: 100%;
        margin: 0.7%;
        display: inline;
    }
} */

@media screen and (max-width: 800px) {
    .three-charts-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }

    .cards-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }
}